.grid-item {
    background-color: lightpink;
    border: 2px solid blue;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    /* padding: 15px; */
    margin: 5px;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: grey;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.item-num0 {
    grid-column: 1 / span 2;
}

.display {
    background-color: lightblue;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    padding-right: 8px;
    margin: 5px;
    color: black;
    justify-items: right;
    align-items: right;
    font-size: 30px;

    /* border: 5px solid black; */
}